.header{
    text-align: center;
    margin-top: 10px;
}
.logo{
    height: 100px;
}
.header nav{
    background-color: black;
    line-height: 50px;

}
.header nav a{
    text-decoration: none;
    margin-right: 20px;
    font-size: 20px;
    color: white;
    margin: 5px;
    padding: 10px;
}
.header nav a:hover{
    background-color: rgb(216, 213, 213);
}